.modal {
  margin-top: 40px; /* Add margin top */
  background-color: transparent;
  border: none; /* Hide the border */
  overflow-y: hidden; /* Hide vertical scroll bar */
  overlay: hidden; /* Hide horizontal scroll bar */
}
